.defaults {
  background-color: white !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgb(0, 0, 0) !important;
  border-radius: '9px' !important;
}

.fadas {
  background-color: lightgreen !important;
}

.urús {
  background-color: khaki !important;
  border: '3px solid black' !important;
}

.séimhiús {
  background-color: lightskyblue !important;
}

.base {
  background-color: #67add6 !important;
}

.delete {
  background-color: rgb(235, 152, 127) !important;
}

.disabled {
  opacity: 0.2 !important;
}
